.grid .table{
    border: 1px solid #f2f2f2;
}

.grid tr > td {
    /*text-transform: uppercase;*/
    font-size: 11pt;
    vertical-align: middle !important;
    text-align: center;
    /*text-align: left;*/
}

.grid tr > th {
    background-color: #f2f2f2;
    color: #262626;
    /*height: 50px;*/
    font-size: 11pt;
    vertical-align: middle !important;
    /*text-transform: uppercase;*/
    text-align: center;
    font-weight: bold;
    padding: 4px;
}

.grid th > a {
    color: #3b3b3b !important;
}

.grid th > a:hover, a:active, a:focus{
    outline: none;
    text-decoration: none;
    color: #adadad !important;
}

.grid td > a {
    color: #000 !important;
}

.grid td > a:hover, a:active, a:focus{
    outline: none;
    text-decoration: none;
    color: #adadad !important;
}

.content-grid{
    height: 350px;
    overflow: auto;
}

.grid .table > tbody > tr.active > td{
    background-color: #d8d8d8; 
}

.grid .glyphicon {
    position: initial;
}

.grid .filters {
    /*background-color: #f6f6f6; */
}

.grid .dropdown-menu{
    right: 20px;
    left: unset;
}

.grid .dropdown-menu > li > a {
    background:none !important;
    color: #393939;
}

.grid .dropdown-menu > li > a:hover {
    color: #7e7e7e;
}

.grid .table > tbody > tr.info > td {
    background-color: #fff;
}

/* Grid Azul */
.grid-blue tr > td {
    text-align:center;  
    background-color: #fff;
    padding: 8px !important;
}

.grid-blue td > a {
    color: #000 !important;
}

.grid-blue tr > th {
    background-color: #dde5f4;
    vertical-align: middle !important;
    /*text-transform: uppercase;*/
    text-align: center;
    padding: 4px;
}

.grid-blue .table > tbody > tr.active > td{
    background-color: #d8d8d8; 
}
 /* Fin */

 /* Pagination */

.pagination > .active > a {
    background-color: #000;
    color: #fff !important;
    border: 1px solid #000;
}

.pagination > .active > a:hover {
    background-color: #8d8d8d !important;
    border: 1px solid #8d8d8d;
}
/* Fin*/