html,
body {
    height: 100%;
    font-size: 13px !important;
    font-family: Calibri, Helvetica, Arial, sans-serif !important;
}

.content-wrapper{
    padding-bottom: 150px;
}

h4{
  font-size: 16px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.content-wrapper, .right-side{
    background-color: #fff !important;
}

.obligatorio{
    font-style: oblique;
    color: red;
    z-index: 10;
}
.obligatorio2{
    font-style: oblique;
    color: red;
    float: right;
    z-index: 10;
}


.skin-blue .main-header .navbar{background-color:#f2f2f2 !important;}
.skin-blue .main-header .navbar .nav>li>a{color:#000 !important}
.skin-blue .main-header .logo{background-color:#f2f2f2 !important;color:#000 !important;border-bottom:0 solid transparent;}
.skin-blue .main-header .logo:hover{background-color:#e2e2e2 !important}
.skin-blue .main-header li.user-header{background-color:#222d32 !important}
.content {
    min-height: 250px !important;
    padding: 0px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #e2e2e2 !important;
}


/* Login */
body.login-page {
    background-color: #FFF;
    height: 100vh;
    overflow: hidden;
}

.login-contenedor {
    height: 100vh;
    margin: 0 !important;
    padding: 15px 0;
}

.login-contenedor .img-contenedor,
.login-contenedor .img-contenedor img, 
.login-contenedor .form-contenedor {
    height: 100%;
    max-height: 100%;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color: #FFF !important;
}

@media screen and (max-width: 1024px){ 

  .login-contenedor {padding: 0;}  
    
  .login-contenedor .img-contenedor {display: none;}

  .login-contenedor .form-contenedor::before {
      content: "";
      background: url("../img/portada-log.png");
      opacity: 0.4;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      background-size: cover;  
    }
}



.tablacaso{
  font-size: 14px;     
  font-weight: normal;   
  margin: auto;
  width: 100%; 
}

.tablacaso th:first-child{
  width: 25%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tablacaso td{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid black;
}



.tablaproveedor{
  font-size: 14px;     
  font-weight: normal;   
  margin: auto;
  width: 100%; 
  
}

.tablaproveedor th:first-child{
  width: 25%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tablaproveedor td{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid black;
}


.titulo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    color: black;
}

.titulo-form{
    font-size: 18px;
}

/* Menú ficha */
.square{
  width: 90%;
  margin: 0 auto;
  left: 0;
}
.square ul {
    list-style: none;
}

.square ul li a{
    display: block;
    float: left;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 55px;
    position: relative;
    margin: 10px 30px 0 0;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    width: 150px;
    text-transform: uppercase;
    border: 1px solid #b9b9b9;
}
.square ul li a.active{
    background: #fbe5d6;
}
.square ul li a:active {
    color: #000 !important;
}
.square ul li a:focus {
    color: #000 !important;
}

.square ul li a.active:after{
    /*border-left: 30px solid #424242;*/
}
.square ul li a:after{
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    /*border-left: 30px solid #a3a3a3;*/
    position: absolute;
    /*right: -29px;*/
    top: 0;
    z-index: 1;
}
.square ul li:first-child a:before {
    display: none;
}
.square ul li:last-child a {
    margin-right: 0px;
}
.square p{
    margin: 0;
    font-size: 10pt;
}

/* end steps */

hr{
    margin-top: 0px;
    border-top: 1px solid #222d32;
}

.form-control[readonly], .form-control[disabled] {
    background-color: #f9f9f9;
    opacity: 1;
}

.form-control{
    color: #7d7d7d;
}

.control-label{
    font-weight: unset !important;
    text-transform: uppercase;
}

.label-oval{
    border-radius: 1.25em;
    padding: .2em 2em .3em;
}

/*Botones*/
.btn-filtro {
    background-color: #fff2cc;
    border-color: #fff2cc;
    color: #000;
    border-radius: 0px !important;
    padding: 3px 25px !important;
}

.reset-filtros {
    font-style: italic;
    color: #000;
    font-size: 16px;
}

a:hover.reset-filtros {
    color: #777;
}

.btn-reportes {
    background-color: #dae3f3;
    border-color: #cddaf2;
    color: #000;
    border-radius: 0px !important;
    padding: 3px 25px !important;
}

.btn-submit {
  background-color: #a9d18e;
  border-radius: 0px !important;
  padding: 6px 35px !important;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.btn-anular {
    background-color: #fbd3d3;
    border-color: #fbd3d3;
    color: #000;
    border-radius: 0px !important;
    padding: 3px 20px !important;
    font-size: 10px;
}

.btn-cancelar {
    background-color: #fbd3d3;
    border-radius: 0px !important;
    padding: 1px 35px !important;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.btn-aceptar {
    background-color: #c5e0b4;
    border-radius: 0px !important;
    padding: 1px 35px !important;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.btn-small-gris {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #000;
    border-radius: 0px !important;
    padding: 3px 25px !important;
}

.btn-small-verde {
    background-color: #e2f0d9;
    border-color: #e2f0d9;
    color: #000;
    border-radius: 0px !important;
    padding: 3px 25px !important;
}
/*Fin Botones*/

/* Select 2*/
.select2-container--krajee .select2-selection {
   /* border-radius: 0px !important;*/
    font-weight: normal;
    border-radius: 0px;
}
.select2-container--krajee .select2-results__option[aria-selected], .select2-results__option{
  background-color: #f2f2f2 !important;
  color: #222d32 !important;
  line-height: 25px;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected]{
    background-color:  #222d32 !important;
    color: #fff !important;
}
.select2-container--krajee .select2-selection--single .select2-selection__placeholder{
  font-style: italic;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow{
  border-left: 0px;
}
.select2-container--krajee{
    /*z-index: -1!important;*/
}
/* Select 2 FIN*/


.tablacaso{
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  width: 100%;
}

.tablacaso th:first-child{
  width: 25%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tablacaso td{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid black;
}

.btn {
  border-radius: 0px !important;
  padding: 3px 22px;
}
.btn2 {
    border-radius: 0px !important;
  padding: 3px 22px;
      background-color: #a9d18e;
    border-radius: 0px !important;
    padding: 2% !important;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
.btn-primario{
  color: black;
  background-color: #c5e0b4;
  border-color: #c5e0b4;
  font-weight: 600;
  font-size: 14px;
}

.btn-primario:hover{
  color: black;
  background-color: #9ab08b;
  border-color: #9ab08b;
}

.btn-cancelar{
  color: black;
  background-color: #e8a3a3;
  border-color: #e8a3a3;
}

.btn-cancelar:hover{
  color: black;
  background-color: #c58b8b;
  border-color: #c58b8b;
}

.btn-accion{
  color: black;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}

.btn-accion:hover{
  color: black;
  background-color: #c4c2c2;
  border-color: #c4c2c2;
}

.btn-submit2 {
    background-color: #a9d18e;
    border-radius: 0px !important;
    padding: 2% !important;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}
.table {
    border-collapse: inherit !important;
    margin-bottom: 0px !important;
}

.table .table td{
  padding: 0px;
}

.table .table td button{
  margin-top: 4px;
}
.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
    border-left-color: #c00000 !important;
}
/*Fin Botones*/

/*clases Modulo Proveedores*/

.micolor {
    background-color: #d2d6de !important;
    font-weight: bold !important;
}

.btn-gris {
    background-color: #D2D6DE !important;
    border-color: #D2D6DE !important;
    color: #000000 !important;
}
 

.panel-default > .panel-heading .borde {
     color: #fff !important; 
     background-color: #fff !important; 
     border-color: #fff !important; 
}
.panel-default > .panel-heading2 {
     color: #fff !important; 
     background-color: #fff !important; 
     border-color: #ddd !important; 
      
}
 
.panel-heading2 {
     padding: 10px 15px; 
    border-bottom: 1px solid transparent;
     border-top-left-radius: 0px; 
     border-top-right-radius: 0px; 
}
.panel-default2 {
    border-color: #fff;
}
 
.panel2 {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid transparent; 
    border-radius: 4px;
     -webkit-box-shadow: 0 0px 0px rgba(255, 255, 255, 255) !important; 
     box-shadow: 0 0px 0px rgba(255, 255, 255, 255) !important; 
}
.colorletra{
  color: #000000 !important;
}
/*.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ffffff !important;
}*/
.colores {
    background-color: #5cb85c !important;
}

 
.rectangulo {
    border: 2px solid #000000;
    margin-top: 5%;
    margin-left: 10%;
    padding-top: 3;
    padding-left: 10%;
    padding-right: 10%;
}

.colorrojo{
    color: red;
    float: left;
    z-index: 10;
}
.colorverde{
    color: green;
    float: left;
    z-index: 10;
}

.colorrojo{
  color: red;
  font-style: italic;
  
}

/* Modales */
.modal-header {
    background-color: #f2f2f2;
    text-align: center;
    height: 100px;
}

.modal-header > h4 {
    font-weight: bold !important;
    padding-top: 15px;
}

.modal-dialog {
    margin: 150px auto;
}

.modal-header .close {
    margin-top: -50px;
    padding-right: 15px;
    opacity: unset;
}
/* Modales FIN */
.hhr{
   margin-top: 20px !important;
    border-top: 1px solid #000000 !important;
}

.cargando {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .cargando {
    display: block;
}
